/* Estilo base */
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 110px;
}

/* Contenedor hoja: ancho máximo y margen */
.hoja {
    margin: 0 auto;
    width: 100%;
    max-width: 73%; /* Ancho máximo */
    padding: 20px;
    box-sizing: border-box;
}

/* Contenedor Principal: 2 columnas con proporciones ajustadas */
.principal {
    display: flex;
    gap: 40px; /* Espacio entre columnas */
    margin-bottom: 20px; /* Separación después del contenedor principal */
    margin-top: 100px;
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
}

/* Ajuste para la columna izquierda */
.principal .izquierda {
    flex: 0 0 calc(29% - 20px); /* Resta el 50% del gap (40px/2) */
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Ajuste para la columna derecha */
.principal .derecha {
    flex: 0 0 calc(71% - 20px); /* Resta el 50% del gap (40px/2) */
    padding: 20px;
    padding-top: 27px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Evitar desbordamientos en los inputs, select o textarea */
input, select, textarea {
    width: 100%; /* Asegura que los campos de formulario ocupen todo el ancho */
    box-sizing: border-box; /* Incluye el padding y los bordes en el ancho total */
}

/* Contener los elementos internos dentro de la columna derecha */
.derecha > * {
    max-width: 100%; /* Asegura que los elementos no se excedan del contenedor */
    overflow: hidden; /* Evita que los elementos internos desborden */
}



/* Estilo del Footer */
.footer {
    display: flex;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding se incluya en el cálculo del ancho */
    justify-content: center; /* Centra el contenido del footer */
}

/* Contenedor del contenido del footer */
.footer-container {
    display: flex;
    width: 70%; /* Limita el ancho al 70% */
    justify-content: space-between; /* Espacio entre las columnas */
    align-items: stretch; /* Para que todas las columnas tengan la misma altura */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Clases de las columnas en el footer */
.footer .izquierda {
    flex: 1 1 25%; /* 40% de ancho para la columna izquierda */
    color: white;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

.footer .centro {
    flex: 1 1 32%; /* 30% de ancho para la columna central */
    color: white;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
    display: flex; /* Usamos flexbox en esta columna */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Apila los párrafos verticalmente */
}

.footer .derecha {
    flex: 1 1 43%; /* 30% de ancho para la columna derecha */
    color: white;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
    display: flex; /* Usamos flexbox en esta columna */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Apila los párrafos verticalmente */
}


/* Media query para pantallas más pequeñas */
@media (max-width: 1255px) {
    /* Aseguramos que las columnas se apilen en la sección principal */
    .principal {
        flex-direction: column; /* Acomoda las columnas en fila en pantallas pequeñas */
        margin-top: 30px;
    }


    /* Ajusta el ancho del contenedor de la hoja */
    .hoja {
        max-width: 73%; /* Reducir el ancho máximo en pantallas pequeñas */
    }


    .footer {
        flex-direction: column; /* Apilar las columnas en pantallas pequeñas */
        align-items: center; /* Alineación centrada */
        padding: 15px 10px; /* Reducir el padding en pantallas pequeñas para evitar desbordamientos */
    }

    .footer-container {
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        flex-direction: column; /* Apilar las columnas */
        justify-content: center; /* Alineación centrada */
        align-items: center; /* Alineación centrada */
    }

    /* Asegura que cada columna ocupe todo el ancho disponible */
    .footer .izquierda,
    .footer .centro,
    .footer .derecha {
        flex: 0 0 100%; /* Las columnas ocupan el 100% del ancho */
        margin: 10px 0; /* Añadir un poco de margen entre las columnas */
        padding: 20px;
    }

    .botones-container {
        flex-direction: column; /* Los botones se apilan en pantallas pequeñas */
        gap: 20px; /* Añade más espacio entre los botones */
    }
    .btnPrev button, .btnNext button {
        width: 100%; /* En pantallas pequeñas los botones ocuparán el 100% */
    }

    .timeline {
        display: none;
    }
}






/* ------------ */

/* Estilo general para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    padding-right: 29px;
    background-color: #f1f1f1;
    color: white;
    margin-bottom: 40px; /* Se mantiene la separación con el contenedor principal */
    position: fixed; /* Lo fija al top */
    top: 0; /* Se coloca en la parte superior */
    left: 0; /* Alineado al borde izquierdo */
    right: 0; /* Alineado al borde derecho */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    transition: top 0.3s; /* Transición suave para el movimiento del header */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

/* Header oculto cuando se hace scroll hacia abajo */
.header.hidden {
    top: -180px;  /* Ajusta el valor si el alto de tu header es mayor a 100px */
}

/* Para asegurarse de que el contenido no quede cubierto por el header */
main {
    margin-top: 80px; /* Este valor debe ser mayor o igual al alto del header */
}

/* Contenedor interno para limitar el ancho */
.header-container {
    margin: 0 auto;
    width: 100%;
    max-width: 70%; /* Limita el ancho del contenido a la misma proporción que la hoja */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el logo */
.header .logo-img {
    height: 50px; /* Ajusta el tamaño del logo según necesites */
}

/* Estilo para los botones */
.header .botones {
    display: flex;
    gap: 10px;
}

.header .btn {
    background-color: #005177;
    color: white;
    padding: 12px 19px;
    border-radius: 13px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.header .btn:hover {
    background-color: #007db7;
}

/* Responsividad */
@media (max-width: 1100px) {
    .header {
        flex-direction: column; /* Apilamos los elementos en columna */
        align-items: center;     /* Centramos los elementos */
        text-align: center;      /* Alineamos el texto al centro */
    }

    .header-container {
        max-width: 80%; /* Limita el ancho del contenido a la misma proporción que la hoja */
    }

    body {
        padding-top: 160px;
    }

    .header .botones {
        flex-direction: column;
        gap: 10px;
    }

    .header .logo-img {
        margin-bottom: 10px; /* Espacio entre logo y botones */
    }
}



@media (max-width: 800px) {
    .hoja {
        max-width: 94%;

    }
}


@media (max-width: 520px) {
    .principal {
        margin-top: 60px;
    }
    .hoja {
        max-width: 99%;
    }
}




.icono-texto-linea {
    display: flex; /* Usamos flexbox para alinear el ícono y el texto */
    align-items: center; /* Alineamos verticalmente los elementos */
    margin-bottom: 10px; /* Separación entre los íconos/textos */
    padding: 5px 0; /* Padding para separar el contenido */
    font-size: 16px; /* Tamaño de fuente */
}

.icono-texto-linea i {
    margin-right: 10px; /* Espaciado entre el ícono y el texto */
    font-size: 18px; /* Ajustamos el tamaño del ícono */
}

.icono-texto-linea .texto {
    font-size: 16px; /* Tamaño del texto */
    color: #333; /* Color del texto */
}




/* a partir de acá son los estilos viejos (del proyecto antes de refactorizar) */


@import url("https://use.typekit.net/biu5kds.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Michroma&display=swap');


.michroma {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paralucent {
  font-family: paralucent, sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" <slant>;
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .formulario {
      border-radius: 8px;
      margin-top: -1rem;
    }
    h1{
      margin: 0;
    }
    .title {
      text-align: center;
      color: #333;
    }
    .titleSection {
      color: #004991;
      font-family: paralucent, sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-bottom: 1.7rem;
    }
    hr {
      border: 0;
      height: 1px;
      background-color: #e0e0e0;
      margin: 20px 0;
    }
    /* Aplicamos box-sizing a todos los elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aseguramos que el formulario ocupe el 100% del contenedor */
.formulario {
    width: 100%; /* Ocupa el 100% del contenedor */
    padding: 0;
    margin: 0 auto; /* Centrado automático en el contenedor */
}



/* Estilo para los contenedores de .form-group */
.form-group {
    margin-bottom: 3rem;
    margin-top: 0.9rem;
    background-color: #E5ECF4;
    padding-inline: 20px; /* Ajustamos padding lateral */
    padding-bottom: 35px; /* Ajustamos padding inferior */
    padding-top: 35px;
    border-radius: 30px;
    width: 100%; /* Aseguramos que no se exceda el ancho */
    box-sizing: border-box; /* Asegura que padding no cause desbordes */
}

/* Ajuste para los labels dentro del form-group */
.form-group label {
    display: block;
    margin-bottom: 8px;
    margin-left: 1rem;
    color: #555;
    font-weight: 500;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: black;
}

.form-group input,
.form-group select {
    display: block;              /* Los hace bloques para poder usar margin: auto */
    width: 95%;                  /* Ajusta el ancho del campo */
    height: 45px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #919395;
    border-radius: 12px;
    outline: none;
    margin: 0 auto;              /* Centra el input/select dentro de su contenedor */
}

/* Efecto de foco en los campos de entrada */
.form-group input:focus,
.form-group select:focus,
.form-group select option:checked {
    border: 2px solid #004991;
}

/* Título del form-group */
.titulo-form-group {
    font-weight: 800;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #004991;
    margin-left: 0.6rem;
}

/* Contenedor de los botones en dos columnas */
.botones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    margin-top: 20px;
}

/* Estilo para los botones */
.botones-container button {
    padding: 20px 30px; /* Aumento de padding para botones más grandes */
    font-size: 18px; /* Tamaño de la fuente */
    border: 2px solid #005177; /* Borde visible */
    background-color: #007db7; /* Fondo azul */
    color: white; /* Texto blanco */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    box-sizing: border-box; /* Asegura que padding y borde estén incluidos en el tamaño total */
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    transition: background-color 0.3s, transform 0.3s; /* Efecto hover */
    min-height: 60px; /* Asegura una altura mínima */
    flex-grow: 1; /* Hace que el botón se expanda si es necesario */
}


/* Estilo para los botones dentro de las clases btnPrev y btnNext */
.btnPrev, .btnNext {
    text-align: center;
}

.btnPrev button, .btnNext button {
    font-family: paralucent, sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%; /* Aseguramos que los botones ocupen el 100% del contenedor */
    padding: 14px 7vw; /* Ajusta el padding horizontal utilizando vw para que se adapte al tamaño de la pantalla */
}

.btnPrev button {
    background-color: #EDEBEB;
    color: black;
}

.btnNext button {
    background-color: #004991;
    color: white;
}





#botonera {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center; /* Centra el contenido dentro del div */
  background-color: #E5ECF4;
  width: 23vw;
  padding-bottom: 1.1rem;
  border-radius: 15px;
}


/* esta es una clase vieja... 
  .btn {
  width: 110px;
  height: 35px;
  margin: 12px;
  margin-inline: -10px;
  background-color: #3BCE6F;
  color: transparent;
  border: 1px solid transparent;
  border-radius: 10px 10 px 0 0;
  font-size: 18px;
} */

.red {
  background-color: #F76060 !important;
} 


.piso {
  width: 80px;
  height: 35px;
  margin: 12px;
  margin-inline: 10px;
  font-weight: 700;
  font-size: 18px;
  background-color: #f7f7f7;
  border: 1px solid black;
  color: black;
}



.btnEnc {
  width: 40px;
  height: 50px;
  margin: 5px;
  margin-inline: 10px;
  margin-top: 5px; /* Ajustar el margen superior */
  margin-bottom: 5px; /* Ajustar el margen inferior */
  background-color: transparent; /* Color inicial */
  color: black;
  font-weight: 700;
  border: none;
  font-size: 22px;
  text-align: center;
}



.btnEncPiso {
  width: 80px;
  height: 50px;
  margin-inline: 10px;
  margin-top: 5px;
  margin-bottom: 1px !important;
  background-color: transparent; /* Color inicial */
  color: black;
  font-weight: 700;
  border: none;
  font-size: 22px;
  text-align: center;
  vertical-align: top; /* Añadido para alinear verticalmente con los botones */
}


.campo-adicional {
            background-color: #DADADA;
            padding-inline: 2.3rem; /* Agrega un poco de espacio interior */
            padding-block: 0.8rem;
            margin-top: 0.5rem;
            margin-bottom: -0.5rem;
            color: darkblue;
            border-radius: 8px;
            margin-inline: 4rem;
            margin-right: 5rem;

        }

.campo-adicional label {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.campo-adicional input, .campo-adicional select {
      width: 100%;
      font-size: 14px;
      padding: 0.3rem;
    }


.div-paso {
  border-radius: 40px;
  width: 35px;
  height: 35px;
  background-color: #004991;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Espacio entre el número y el texto */
  font-size: 18px; /* Ajusta según tus necesidades */
  color: white;
  margin-right: 0.8rem;
  padding: 0;
}







/* styles.css */

.timeline {
    
    font-family: paralucent, sans-serif;
    
}

.circle {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004991;
    margin-right: 10px;
    margin-block: 3px;
    font-weight: 700;
    font-size: 16px;
}

.circle-azul {
  color: #004991;
}
.circle-gris {
  color: #000000;
}

.paso {
    margin-block: 0.5rem;
    background-color: #004991;
    padding: 5px 10px;
    border-radius: 70px;
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.linea {
    background-color: #004991;
    color: #004991;
    width: 0.25rem;
    margin: 0 auto;
    margin-block: -0.5rem;
    font-size: 10px;
}

.linea-azul {
  background-color: #004991;
}
.linea-gris {
  background-color: #EDEBEB;
  color: #EDEBEB;
}

.paso-azul {
  background-color: #004991;
}
.paso-gris {
  background-color: #EDEBEB;
  color: #000000;
}






.boton-derecho {
  flex: 0 0 50%; /* La columna izquierda ocupa el 35% del espacio disponible */
  margin: 0 auto;
}

.boton-izquierdo {
  flex: 0 0 50%; /* La columna izquierda ocupa el 35% del espacio disponible */
  margin: 0 auto;
}


.titulo_resumen {
  font-weight: 800;
  color: #004991;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-left: 1rem;
}


.timeline, .formulario {
    flex: 1; /* Permite que se expandan en altura */
}