@import url("https://use.typekit.net/biu5kds.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Michroma&display=swap');


.michroma {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paralucent {
  font-family: paralucent, sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" <slant>;
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .formulario {
      max-width: 660px;
      background-color: #fff;
      border-radius: 8px;
      margin-top: -1rem;
    }
    h1{
      margin: 0;
    }
    .title {
      text-align: center;
      color: #333;
    }
    .titleSection {
      color: #004991;
      font-family: paralucent, sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-bottom: 1.7rem;
    }
    hr {
      border: 0;
      height: 1px;
      background-color: #e0e0e0;
      margin: 20px 0;
    }
    .form-group {
      margin-bottom: 3rem;
      margin-top: 0.9rem;
      background-color: #E5ECF4;
      padding-inline: 40px;
      padding-bottom: 40px;
      padding-top: 25px;
      border-radius: 30px;
    }
    .form-group label {
      display: block;
      margin-bottom: 8px;
      margin-left: 1rem;
      color: #555;
      font-weight: 500;
      font-size: 16px;
      font-family:  "Inter", sans-serif;
      color: black;
    }
    .form-group p {
      margin-block: 0.4rem;
      font-stsyle: italic;
      font-size: 15px;
    }
    .form-group input, .form-group select {
      width: calc(100%);
      height: 45px;
      padding: 10px;
      font-size: 17px;
      border: 1px solid #919395;
      border-radius: 12px;
      outline: none;
      box-sizing: border-box;
    }
    .form-group input:focus, .form-group select:focus, .form-group select option:checked {
      border: 2px solid #004991;
    }
    .titulo-form-group {
      font-weight: 800;
      font-size: 18px;
      font-family:  "Inter", sans-serif;
      color: #004991;
      margin-left: 0.6rem;
    }
    .btnNext {
      text-align: center;
    }
    .btnNext button {
      font-family: paralucent, sans-serif;
      background-color: #004991;
      color: white;
      width: 98%;
      padding-block: 14px;
      font-size: 17px;
      font-weight: 500;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      margin-right: -0.4rem;
    }
    .btnPrev {
      text-align: center;
    }
    .btnPrev button {
      font-family: paralucent, sans-serif;
      background-color: #EDEBEB;
      color: black;
      width: 98%;
      padding-block: 14px;
      font-size: 17px;
      font-weight: 500;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      margin-left: -0.4rem;
    }


#botonera {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center; /* Centra el contenido dentro del div */
  background-color: #929292;
  width: 14vw;
  padding-bottom: 1.1rem;
  border: 3px solid black;
  box-shadow: 0 0 50px rgb(31, 31, 31, 0.7);
}


.btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-inline: 10px;
  background-color: green; /* Color inicial */
  color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 18px;
}

.red {
  background-color: red !important;
} 


.piso {
  width: 80px;
  height: 50px;
  margin: 5px;
  margin-inline: 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f7f7f7;
  border: 2px solid black;
  color: black;
}



.btnEnc {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-inline: 10px;
  margin-top: 5px; /* Ajustar el margen superior */
  margin-bottom: 5px; /* Ajustar el margen inferior */
  background-color: transparent; /* Color inicial */
  color: white;
  font-weight: 700;
  border: none;
  font-size: 22px;
  text-align: center;
}



.btnEncPiso {
  width: 80px;
  height: 50px;
  margin-inline: 10px;
  margin-top: 5px;
  margin-bottom: 1px !important;
  background-color: transparent; /* Color inicial */
  color: white;
  font-weight: 700;
  border: none;
  font-size: 22px;
  text-align: center;
  vertical-align: top; /* Añadido para alinear verticalmente con los botones */
}


.campo-adicional {
            background-color: #616161;
            padding-inline: 2.3rem; /* Agrega un poco de espacio interior */
            padding-block: 0.8rem;
            margin-top: 0.5rem;
            margin-bottom: 2.6rem;
            color: darkblue;
            border-radius: 8px;
            margin-inline: 4rem;
            margin-right: 5rem;

        }

.campo-adicional label {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 400;
}

.campo-adicional input, .campo-adicional select {
      width: 100%;
      font-size: 14px;
      padding: 0.3rem;
    }


.div-paso {
  border-radius: 40px;
  width: 35px;
  height: 35px;
  background-color: #004991;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Espacio entre el número y el texto */
  font-size: 18px; /* Ajusta según tus necesidades */
  color: white;
  margin-right: 0.8rem;
  padding: 0;
}







/* styles.css */

.timeline {
    margin: 20px 0;
    width: 13.2rem;
    font-family: paralucent, sans-serif;
    margin-top: 12%;
    margin-left: 63%;
}

.circle {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004991;
    margin-right: 10px;
    margin-block: 3px;
    font-weight: 700;
    font-size: 16px;
}

.circle-azul {
  color: #004991;
}
.circle-gris {
  color: #000000;
}

.paso {
    margin-block: 0.5rem;
    background-color: #004991;
    padding: 5px 10px;
    border-radius: 70px;
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.linea {
    background-color: #004991;
    color: #004991;
    width: 0.25rem;
    margin: 0 auto;
    margin-block: -0.5rem;
    font-size: 10px;
}

.linea-azul {
  background-color: #004991;
}
.linea-gris {
  background-color: #EDEBEB;
  color: #EDEBEB;
}

.paso-azul {
  background-color: #004991;
}
.paso-gris {
  background-color: #EDEBEB;
  color: #000000;
}


.container {
  display: flex;
}



.izquierda {
  flex: 0 0 35.5%; /* La columna izquierda ocupa el 35% del espacio disponible */
  padding: 20px;
  margin: 0 auto;
}

.derecha {
  flex: 0 0 59%; /* La columna derecha ocupa el 65% del espacio disponible */
  padding: 20px;
}

.izquierdaLogo{
  flex: 0 0 23.4%; /* La columna izquierda ocupa el 35% del espacio disponible */
  margin: 0 auto;

}

.derechaLogo {
  flex: 0 0 76.6%; /* La columna derecha ocupa el 65% del espacio disponible */
  text-align: left;
  padding-block: 10px;
}

.boton-derecho {
  flex: 0 0 50%; /* La columna izquierda ocupa el 35% del espacio disponible */
  margin: 0 auto;
}

.boton-izquierdo {
  flex: 0 0 50%; /* La columna izquierda ocupa el 35% del espacio disponible */
  margin: 0 auto;
}

.footer {
  background-color: black;
  margin-top: 2rem;
}